ul{
	width: 500px
}

li {
	width: 23%;
	float: left;
}


#hello {
	left: 40%	
}

.contact h4{
	width: 300px	
}

.about .info-images {
	
	max-width: 700px;
}
.about .info-images .averages, 
.about .info-images .location, 
.about .info-images .course, 
.about .info-images .images {
	width: 22%;
	margin: 0px;

}
.about .info-images .averages .info-div,
.about .info-images .location .info-div,
.about .info-images .course .info-div,
.about .info-images .images .info-div{
	padding-top: 0px;	
}
